/*- Custom style -*/

// -- Put custom style under this point -- //
// page
.preview-content a {
  color: #2011E2;
}
.about-link a {
  color: #2011E2;
}

.preview-content{
  margin-left: 30px;
}

.margin-box {
  margin: 100px;
}
